<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="false">
            <files>
                <remove value="Cooles.html" />
                <remove value="error.html" />
                <remove value="search.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
