@font-face{font-family:'方正兰亭超细黑简体';src:url('http://byw5751670001.my3w.com/cooles/web/style/fonts/001.eot')format('embedded-opentype'),url('http://byw5751670001.my3w.com/cooles/web/style/fonts/001.woff')format('woff'),url('http://byw5751670001.my3w.com/cooles/web/style/fonts/001.ttf')format('truetype'),url('http://byw5751670001.my3w.com/cooles/web/style/fonts/001.svg')format('svg');}
@font-face{font-family:'Alexei Copperplate';src:url('http://byw5751670001.my3w.com/cooles/web/style/fonts/002.eot')format('embedded-opentype'),url('http://byw5751670001.my3w.com/cooles/web/style/fonts/002.ttf')format('truetype');}
@font-face{font-family:'Product Sans';src:url('http://byw5751670001.my3w.com/cooles/web/style/fonts/003.eot')format('embedded-opentype'),url('http://byw5751670001.my3w.com/cooles/web/style/fonts/003.woff')format('woff'),url('http://byw5751670001.my3w.com/cooles/web/style/fonts/003.ttf')format('truetype'),url('http://byw5751670001.my3w.com/cooles/web/style/fonts/003.svg')format('svg');}
a.one:link{color:#2F4F4F;text-decoration:none;font-family:'Alexei Copperplate';font-size:5em;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none;-webkit-tap-highlight-color:transparent;}
a.one:visited{color:#2F4F4F;text-decoration:none;font-family:'Alexei Copperplate';font-size:5em;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none;-webkit-tap-highlight-color:transparent;}
a.one:hover{color:#2F4F4F;text-decoration:none;font-family:'Alexei Copperplate';font-size:5em;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none;-webkit-tap-highlight-color:transparent;}
a.one:active{color:#2F4F4F;text-decoration:none;font-family:'Alexei Copperplate';font-size:5em;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none;-webkit-tap-highlight-color:transparent;}
div.one{width:100%;height:16.6875em;}
div.two{float:left;width:100%;height:10em;}
div.three{float:left;width:12%;height:6.6875em;}
div.four{float:left;width:7.99125em;height:6.6875em;}
div.five{float:left;width:60%;height:6.6875em;}
div.six{float:left;width:100%;height:1.25em;}
div.seven{float:left;width:15%;height:1.375em;}
div.eight{float:left;width:2.305em;height:1.375em;}
div.nine{float:left;width:0.625em;height:1.375em;}
div.ten{float:left;width:7.758125em;height:1.375em;}
div.eleven{float:left;width:45%;height:1.375em;}
div.twelve{float:left;width:100%;height:2.25em;}
div.thirteen{float:left;width:15%;height:1.375em;}
div.fourteen{float:left;width:45em;height:1.375em;}
div.fifteen{float:left;width:100%;height:0.625em;}
div.sixteen{float:left;width:15%;height:1.375em;}
div.seventeen{float:left;width:9.31em;height:1.375em;}
div.eighteen{float:left;width:100%;height:50%;}
img.one{position:absolute;left:75%;top:13.75em;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none;-webkit-tap-highlight-color:transparent;}
p.one{color:#2F4F4F;font-family:'Product Sans';font-size:1.125em;padding:0em;margin:0em;}
p.two{color:#2F4F4F;font-family:'方正兰亭超细黑简体';font-size:1em;padding:0em;margin:0em;}
p.three{color:#2F4F4F;font-family:'Product Sans';font-size:1.125em;padding:0em;margin:0em;}
p.four{color:#2F4F4F;font-family:'方正兰亭超细黑简体';font-size:1em;padding:0em;margin:0em;}